body {
    overflow-x: hidden;
}

.jumbotron {
	background-image: url('images/back.jpg');
	border-radius: 0px;
}

.card {
    padding: 5px;
    background-color: rgb(247, 247, 247);
}

.pres-style {
    border: solid rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);
}
.header1 {
	height: 400px;
}
.muk-head {
	color: white;
	margin-left: 50px;
	padding-bottom: 20px;
}
@media screen and (max-width: 576px) {
	.muk-head {
		margin-left: 10px;
	}
	.header1 {
		height: 250px;
	}
	h1 {
		font-size: 30px;
	}
}